# Easy
–í—ã—á–∏—Å–ª–∏—Ç—å –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è, –µ—Å–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—É:

–æ—Ç 0 –¥–æ 25 –ª–µ—Ç
–æ—Ç 25 –¥–æ 50 –ª–µ—Ç
–æ—Ç 50 –ª–µ—Ç –∏ —Å—Ç–∞—Ä—à–µ

# Normal
–í—ã—á–∏—Å–ª–∏—Ç—å —Å –∫–∞–∫–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª (–∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ–æ—Ä–µ–º—É –ë–∞–π–µ—Å–∞)

# Normal+
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω—ã–π —Å–ø—É—Å–∫ —Å —É–º–µ–Ω—å—à–µ–Ω–∏–µ–º  ùúñ  –¥–ª—è —Ñ—É–Ω–∫—Ü–∏–∏ –¥–≤—É—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞ —Ñ—É–Ω–∫—Ü–∏–∏  ùëì(ùë•,ùë¶)=(ùë•‚àí3)4+(ùë¶+5)2 . –ù–∞—á–∞—Ç—å –∏–∑ —Ç–æ—á–∫–∏ (5, 2).

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å —Å–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –Ω–∞ –≥–æ—Ç–æ–≤—ã—Ö —Ñ—É–Ω–∫—Ü–∏—è—Ö –º–∏–Ω–∏–º–∏–∑–∞—Ü–∏–∏.

# Hard
–ó–∞–∫–æ–Ω —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∑–∞–¥–∞–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏–µ–π –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏

ùëì(ùë•)=ùúÜùëí‚àíùúÜùë•,ùë•>0 
ùëì(ùë•)=0,ùë•<=0 
–ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ —Å–æ–±—ã—Ç–∏–µ –ø—Ä–æ–∏–∑–æ–π–¥–µ—Ç –ø—Ä–∏  ùë•‚àà[1,2] 
P.S. –≤ scipy –µ—Å—Ç—å —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–∏

-----------------------------------------------------------------------------------------------------------------

# Easy
–í—ã—á–∏—Å–ª–∏—Ç—å –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è, –µ—Å–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—É:
–æ—Ç 0 –¥–æ 25 –ª–µ—Ç –æ—Ç 25 –¥–æ 50 –ª–µ—Ç –æ—Ç 50 –ª–µ—Ç –∏ —Å—Ç–∞—Ä—à–µ

In [26]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –¥–∞—Ç–∞—Å–µ—Ç
import numpy as np
import pandas as pd
import seaborn as sns
tit_pass = pd.read_csv('/home/euegene/learn/DS_Learn/Data/train.csv')
tit_pass.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
#–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 0 –¥–æ 25 –ª–µ—Ç : P(A) = (—á–∏—Å–ª–æ –≤—ã–∂–∏–≤—à–∏—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 0 –¥–æ 25)/(—á–∏—Å–ª–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 0 –¥–æ 25)
P_A_025 = tit_pass[(tit_pass['Age']<25) & (tit_pass['Survived'] == 1)]['Name'].count() /tit_pass[(tit_pass['Age']<25)]['Name'].count()
#–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç : P(A) = (—á–∏—Å–ª–æ –≤—ã–∂–∏–≤—à–∏—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 25 –¥–æ 50)/(—á–∏—Å–ª–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 25 –¥–æ 50)
P_A_2550 = tit_pass[(tit_pass['Age']<50) & (tit_pass['Age']>25) & (tit_pass['Survived'] == 1)]['Name'].count() / tit_pass[(tit_pass['Age']<50)&(tit_pass['Age']>25)]['Name'].count()
#–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å—Ç–∞—Ä—à–µ 50 –ª–µ—Ç : P(A) = (—á–∏—Å–ª–æ –≤—ã–∂–∏–≤—à–∏—Ö –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å—Ç–∞—Ä—à–µ 50)/(—á–∏—Å–ª–æ –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å—Ç–∞—Ä—à–µ 50)
P_A_50 = tit_pass[(tit_pass['Age']>50) & (tit_pass['Survived'] == 1)]['Name'].count() / tit_pass[(tit_pass['Age']>50)]['Name'].count()
print('–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 0 –¥–æ 25 –ª–µ—Ç ',P_A_025)
print('–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç ',P_A_2550)
print('–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å—Ç–∞—Ä—à–µ 50 –ª–µ—Ç ',P_A_50)

–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 0 –¥–æ 25 –ª–µ—Ç  0.4244604316546763
–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç  0.41002949852507375
–≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤ —Å—Ç–∞—Ä—à–µ 50 –ª–µ—Ç  0.34375

# Normal
–í—ã—á–∏—Å–ª–∏—Ç—å —Å –∫–∞–∫–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª (–∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ–æ—Ä–µ–º—É –ë–∞–π–µ—Å–∞)

In [25]:
# —Ç–µ–æ—Ä–µ–º–∞ –ë–∞–π–µ—Å–∞: P(A|X) = P(X|A)*P(A) / P(X|A)*P(A) + P(X|notA)*P(notA)
# –∑–∞–¥–∞–µ–º —Ñ—É–Ω–∫—Ü–∏—é –ø–æ —Ç–µ–æ—Ä–µ–º–µ –ë–∞–π–µ—Å–∞
def bayes(P_X_A,P_A,P_n_A,P_X_n_A):
    P_A_X = (P_X_A*P_A)/(P_X_A*P_A + P_X_n_A*P_n_A)
    return P_A_X
#–Ω–∞—Ö–æ–¥–∏–º –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç–∏
#P_X_A : –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–∞ –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞
P_X_A = tit_pass[(tit_pass['Sex']=='female') & (tit_pass['Survived'] == 1)]['Name'].count() /tit_pass[(tit_pass['Sex']== 'female')]['Name'].count()
#P_A : –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
P_A = tit_pass[(tit_pass['Survived'] == 1)]['Name'].count() /tit_pass['Name'].count()
#P_X_n_A : –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–∞ –º—É–∂—Å–∫–æ–≥–æ –ø–æ–ª–∞
P_X_n_A = tit_pass[(tit_pass['Sex']=='male') & (tit_pass['Survived'] == 1)]['Name'].count() /tit_pass[(tit_pass['Sex']== 'male')]['Name'].count() 
#P_n_A : –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –Ω–µ –≤—ã–∂–∏—Ç—å –ø–∞—Å—Å–∞–∂–∏—Ä–æ–≤
P_n_A = tit_pass[(tit_pass['Survived'] == 0)]['Name'].count() /tit_pass['Name'].count()
# –í—ã—á–∏—Å–ª—è–µ–º –∑–∞–¥–∞—á—É
print('–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª ', bayes(P_X_A,P_A,P_n_A,P_X_n_A))

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª  0.709890469647653