# Easy
Для данных с Титаника обучить модели логистической регресси на 80% обучающей выборки и проверить результат на 20%. Вывести accuracy.

# Normal¶
Для датасета Boston сделать лучшую линейную модель, которую можно легко интерпретировать. Сделать выводы о данных на основе вашей линейной регрессии.

______________________________________________________________________________________________________________

# EASY

In [10]:
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression,LogisticRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score, confusion_matrix
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
tit_pass = pd.read_csv('/home/euegene/learn/DS_Learn/Data/train.csv')
tit_pass.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
tit_pass.loc[(tit_pass['Sex'] == 'male'), 'Male'] = 1
tit_pass.loc[(tit_pass['Sex'] == 'female'), 'Female'] = 1
tit_pass.loc[(tit_pass['Sex'] == 'female'), 'Male'] = 0
tit_pass.loc[(tit_pass['Sex'] == 'male'), 'Female'] = 0

In [12]:
x_df = tit_pass[['Pclass','SibSp','Parch','Fare','Male','Female']] 
y_df = tit_pass['Survived']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x_df, y_df, train_size=0.8)

In [14]:
full_df = pd.concat([x_df, y_df], axis=1)

In [15]:
full_df.corr()

            Pclass     SibSp     Parch      Fare      Male    Female  Survived
Pclass    1.000000  0.083081  0.018443 -0.549500  0.131900 -0.131900 -0.338481
SibSp     0.083081  1.000000  0.414838  0.159651 -0.114631  0.114631 -0.035322
Parch     0.018443  0.414838  1.000000  0.216225 -0.245489  0.245489  0.081629
Fare     -0.549500  0.159651  0.216225  1.000000 -0.182333  0.182333  0.257307
Male      0.131900 -0.114631 -0.245489 -0.182333  1.000000 -1.000000 -0.543351
Female   -0.131900  0.114631  0.245489  0.182333 -1.000000  1.000000  0.543351
Survived -0.338481 -0.035322  0.081629  0.257307 -0.543351  0.543351  1.000000

In [26]:
model = LogisticRegression()
model.fit(x_train[['Fare']], y_train)

LogisticRegression()

In [27]:
y_pred = model.predict(x_test[['Male']])
print(mean_squared_error(y_pred, y_test))

0.3854748603351955